.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #84a178;
  background-image: url(../img/mob/mobpoints1x.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.hero__div {
  display: flex;
  align-items: center;
  margin-bottom: 236px;
  gap: 12px;
}

.hero__title {
  text-align: center;
  margin-top: 47px;
  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2692;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}
.hero__products {
  padding: 11px 26px;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  background-color: #84a178;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
}
.hero__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-decoration-line: underline;

  color: #f8d24e;
}
