.products {
  background-image: url(../../img/mob/bgmob1x.png);
}

.products__pretitle {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222;
  text-align: center;
  text-transform: uppercase;

  color: #131313;
}

.products__title {
  margin-bottom: 40px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #aec6a5;
  border-radius: 24px;

  background: #aec6a5;
  border-radius: 24px;
}

.products__undertitle {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.product__description {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 101px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;

  color: #131313;
}

.product__link {
  margin-bottom: 16px;
}
